body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}


.registro-container {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}


h2 {
    text-align: center;
    color: #1d3557;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.campo {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.boton {
    padding: 12px;
    background-color: #1d3557;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.boton:hover {
    background-color: #457b9d;
}